<h1>Places</h1>

<p>
  <a href="/places/new" class="btn btn-primary">New Place</a>
</p>

<div class="mt-3">
  <% for place in @places %>
    <p>
      <a href="/places/<%= place["id"] %>" class="fw-bold text-decoration-none">
        <%= place["name"] %>
      </a>
    </p>
  <% end %>
</div>
